@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
html {
  scroll-behavior: smooth;
}

#state-selector{
    align-items: center;
}

#graphs {
    padding-right: 15%;
    padding-left: 15%;
}

.graph {
    padding-top: 5%;
    padding-bottom: 5%;
}

#graphs img {
    width: 80%;
    height: 100%;
}