@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
html {
  scroll-behavior: smooth;
}

#text-container {
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}