{% extends "layout.html" %}

{% block page_styles %}
<link rel="stylesheet" href="../static/css/graphs.css">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock page_styles %}

{% block content %}
    {% if state %}
        <h1 class="page-title">Graphs - {{ state }}</h1>
    {% else %}
        <h1 class="page-title">Graphs</h1>
    {% endif %}
    <div id="state-selector" style="text-align: center; padding-top: 10px">
        <select id="states" onchange="javascript:location.href = this.value;">
            <option disabled selected value> -- Select a State -- </option>
            {% for state in states %}
                <option value= "{{ url_for('graphs_state', state=state)}}">{{ state }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="graphs">
        {% if graphs|length == 0 %}
            <h3 style="padding-top: 20px">No graphs available for this state.</h3>
        {% elif graphs|length == 1 %}
            <div class="graph">
                {{ graphs[0] | safe }}
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-6 graph">
                    {{ graphs[0] | safe }}
                </div>
                <div class="col-md-6 graph">
                    {{ graphs[1] | safe }}
                </div>
            </div>
            {% for graph in graphs[2:] %}
                {{ graph | safe }}
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}

