@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
html {
  scroll-behavior: smooth;
}

  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0;
    } 
    100% { 
        opacity: 1; 
     } 
} 

#home_info_container {
    background-color: #0092d4;
}

#home_info {
    color: #fff;
    text-align: center;
    height: 90vh;
    margin: auto 0px;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

#icons {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
}

#home-buttons{
    padding-top: 30px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.four-row{
    padding-left: 5%;
    padding-right: 5%;
}

.quarter{
    width: 25%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.two-row{
    padding-left: 25%;
    padding-right: 25%;
}

.half{
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.about-photo{
    width: 40%;
    padding-bottom: 7px;
    border-radius: 50%;
    /* height: 20%; */
}

.about-photo:hover{
    opacity: 70%;
}

#about {
    color: #343a40;
    background-color: white;
    text-align: center;
    /* height: 90vh; */
    margin: auto 0px;
    padding-top: 1%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

#contact {
    color: #fff;
    background-color: #0092d4;
    text-align: center;
    height: 90vh;
    margin: auto 0px;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

#contact {
    background-color: #0092d4;
    color: #fff;
  }
  #contact h2 {
    margin-bottom: 1%;
  }
  #contact input[type=text], #contact textarea {
    background-color: #fff;
    color: #333;
  }
  #contact input[type=text]:focus, #contact textarea:focus {
    background-color: #fff;
    color: #333;
    outline: 0px;
    box-shadow: none;
  }
  #contact textarea {
    height: 100px;
  }